<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
	<clear />
    <add key="Nuget" value="https://www.nuget.org/api/v2/" />
	<add key="UpBeatsIO" value="https://pkgs.dev.azure.com/UpBeatsIO/_packaging/UpBeatsIO/nuget/v3/index.json"  protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  
  <packageSourceCredentials>
    <UpBeatsIO>
        <add key="Username" value="NugetPublisher" />
        <add key="ClearTextPassword" value="e7zmjxahzpyi6d22wyje3rrsh5b3mjvd3zjzoytn6dk2byft2joq" />
    </UpBeatsIO>   
</packageSourceCredentials>

  <disabledPackageSources />
</configuration>